.navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  top: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown {
  padding: 5px;
  display: none;
  position: relative;
  top: 100%;
  left: 0;
}

.dropdown {
    transform: translateY(5px);

}

.dropdown-content {
  
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.profile:hover {
  cursor: pointer;
}

.btn-login-logout{
  display: flex;
  font-size: 12px;
  align-items: center;
}

.btn-login-logout > span {
  margin-right: 5px;
}
